<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CreateVM.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="VMPowerOn.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CreateVM.Settings>
            <setting name="application_key" serializeAs="String">
                <value />
            </setting>
            <setting name="shared_secret" serializeAs="String">
                <value />
            </setting>
            <setting name="cloud_domain" serializeAs="String">
                <value>admin.securedcloud.com</value>
            </setting>
        </CreateVM.Settings>
        <VMPowerOn.Settings>
            <setting name="organization_id" serializeAs="String">
                <value>103</value>
            </setting>
            <setting name="application_key" serializeAs="String">
                <value>68bc98f14a5ebef9fdb2bb788e094ddd</value>
            </setting>
            <setting name="shared_secret" serializeAs="String">
                <value>ILoveApples1234</value>
            </setting>
            <setting name="cloud_domain" serializeAs="String">
                <value>admin.securedcloud.com</value>
            </setting>
        </VMPowerOn.Settings>
    </applicationSettings>
</configuration>